/** @format */

@import './colors';

.faby-header-container {
	display: flex;
	justify-content: space-between;
	background-color: $color1;
	align-items: center;
}

.faby-logo-container {
	width: 100%;
	max-width: 140px;
	padding: 10px;
}

.faby-main-logo {
	width: 100%;
}

.faby-main-menu {
	display: flex;
	margin-bottom: 0;
}

.faby-main-menu-container {
	display: flex;
	width: 100%;
	max-width: 500px;
	justify-content: space-between;
	padding-right: 30px;
	align-items: center;
}

.faby-menu-link {
	text-decoration: none !important;
	color: $color3;
	transition: 0.3s ease;
	font-size: 16px;
}

.faby-menu-link:hover {
	color: $colorHover;
	transition: 0.3s ease;
}

.faby-cart-btn {
	border: transparent;
	background-color: transparent;
	padding: 0;
}

.faby-cart-btn:hover {
	color: $colorHover;
	transition: 0.3s ease;
	border: transparent;
	background-color: transparent;
}

.faby-main-cart-icon {
	font-size: 15px;
	margin-right: 7px;
}

.faby-about-us-container {
	width: 100%;
	max-width: 950px;
	margin: auto;
	padding: 20px 0;
	text-align: center;
}

.faby-shop-container {
	padding-bottom: 10px;
	width: 100%;
	max-width: 1800px;
	margin: auto;
}

.faby-shop-img-container {
	text-align: center;
	text-align: center;
	padding: 10px 10px 30px;
}

.faby-shop-img {
	border-radius: 60px 6px 60px 6px;
	transition: 0.5s ease;
}

.faby-shop-img:hover {
	border-radius: 6px 60px 6px 60px;
	transition: 0.5s ease;
}

.size-modal-global-container .modal-content {
	border-radius: 20px;
	padding: 5px;
}

.size-modal-global-container .modal-header {
	border-bottom: 0;
	padding: 15px 20px 0;
}

.size-modal-global-container .modal-body {
	cursor: pointer;
	padding: 20px 20px 0;
}

.size-modal-global-container .modal-footer {
	padding: 5px 20px 20px;
	border-top: 0;
}

.shop-btn-container {
	text-align: center;
	margin: 25px 0 35px;
}

.shop-btn {
	color: $color3;
	font-weight: 600;
	font-size: 16px;
	background-color: $color1;
	transition: 0.5s ease;
	padding: 10px;
	border: 1px solid $color1;
	text-decoration: none !important;
	border-radius: 5px;
}

.shop-btn:hover {
	color: $color1;
	background-color: $color3;
	transition: 0.5s ease;
}

.faby-shop-global-container {
	min-height: calc(100vh - 130px);
}

.faby-shop-main-title {
	margin-bottom: 0;
	text-align: center;
	padding: 15px 0;
	font-size: 30px;
}

.faby-shop-main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	min-height: calc(100vh - 150px);
}

.faby-shop-main-subtitle {
	font-size: 35px;
	font-weight: 700;
}

#productMainList {
	margin: 10px 20px 30px;
}

.item-product-list-global-container {
	width: 100%;
}

.item-product-list-global-container {
	list-style: none;
	padding: 0;
	margin: 0;
}

.item-product-list {
	border: 1px solid #ddd;
	border-radius: 10px;
	text-align: center;
	width: 100%;
	height: auto;
	margin: 15px 0;
	background-color: $color2;
}

.item-product-list-image {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.item-product-text-container {
	padding: 10px 0;
}

.item-product-id {
	font-size: 13px;
	font-style: italic;
	margin-bottom: 0;
	font-weight: 400;
}

.item-product-name {
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 600;
	padding: 5px 0;
}

.item-product-category {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
}

.item-product-stock {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
}

.item-product-price {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 600;
}

.add-to-cart-button-container {
	margin: 5px 0 15px;
}

.add-to-cart-btn {
	cursor: pointer;
	background-color: $color1;
	color: $color3;
	border: 1px solid $color1;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

.add-to-cart-btn:hover {
	background-color: $color3;
	color: $color1;
	transition: 0.5s ease;
}

.item-product-cart-list-global-container {
	width: 100%;
	margin: auto;
	list-style: none;
	padding: 0;
}

.item-product-cart-list-main-container {
	margin: auto;
}

.item-product-cart-list {
	border: 1px solid #ddd;
	border-radius: 10px;
	text-align: center;
	width: 100%;
	height: auto;
	margin: 15px 0;
	background-color: $color2;
	min-height: 500px;
}

.item-product-cart-list-image {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.item-product-cart-text-container {
	padding: 10px 0;
}

.item-product-cart-id {
	font-size: 13px;
	font-style: italic;
	margin-bottom: 0;
	font-weight: 400;
}

.item-product-cart-name {
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 600;
	padding: 5px 0;
}

.item-product-cart-category {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
}

.item-product-cart-stock {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
}

.item-product-cart-quantity {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
}

.item-product-cart-unity-price {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 600;
}

.item-product-cart-list-quantity-add {
	cursor: pointer;
	background-color: $color1;
	color: $color3;
	border: 1px solid $color1;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

.item-product-cart-list-quantity-add:hover {
	background-color: $color3;
	color: $color1;
	transition: 0.5s ease;
}

.item-product-cart-list-quantity-delete {
	cursor: pointer;
	background-color: $color1;
	color: $color3;
	border: 1px solid $color1;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 13px;
	font-size: 15px;
	font-weight: 600;
}

.item-product-cart-list-quantity-delete:hover {
	background-color: $color3;
	color: $color1;
	transition: 0.5s ease;
}

.remove-item-cart-container {
	margin: 5px 0 15px;
}

.remove-item-cart {
	cursor: pointer;
	background-color: $color1;
	color: $color3;
	border: 1px solid $color1;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

.remove-item-cart:hover {
	background-color: $color3;
	color: $color1;
	transition: 0.5s ease;
}

#cartModal .modal-dialog {
	max-width: 800px;
}

#cartModal .modal-header {
	padding: 15px 30px;
	border-bottom: 0;
}

#cartModal .modal-title {
	font-size: 23px;
	font-weight: 600;
}

.faby-cart-quantity-global-container {
	display: flex;
	justify-content: space-between;
	padding: 20px 35px;
	align-items: center;
}

.quantity-products-list {
	font-size: 21px;
	font-weight: 400;
}

.total-products-list {
	font-size: 21px;
	font-weight: 400;
}

.faby-cart-quantity-button-container {
	width: 100%;
	max-width: 290px;
	display: flex;
	justify-content: space-between;
}

#clearCart {
	cursor: pointer;
	background-color: $color1;
	color: $color3;
	border: 1px solid $color1;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

#clearCart:hover {
	background-color: $color3;
	color: $color1;
	transition: 0.5s ease;
}

#finishCart {
	cursor: pointer;
	background-color: $color1;
	color: $color3;
	border: 1px solid $color1;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

#finishCart:hover {
	background-color: $color3;
	color: $color1;
	transition: 0.5s ease;
}

.faby-empty-cart-global-container {
	min-height: calc(100vh - 280px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.faby-empty-cart-icon {
	font-size: 45px;
	cursor: pointer;
	color: $color1;
	transition: 0.5s ease;
}

.faby-empty-cart-icon:hover {
	color: $colorHover;
	transition: 0.5s ease;
}

.faby-empty-cart-title {
	font-size: 24px;
	margin-bottom: 0;
	padding-bottom: 5px;
}

.faby-empty-cart-subtitle {
	margin-bottom: 0;
	font-size: 24px;
}

#stockModal .modal-dialog {
	max-width: 800px;
}

#stockModal .modal-header {
	padding: 15px 20px 0;
	border-bottom: 0;
}

#stockModalLabel {
	font-size: 22px;
}

#stockModal .modal-body {
	min-height: calc(100vh - 320px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.modal-stock-title {
	margin-bottom: 0;
	font-size: 25px;
	padding-bottom: 5px;
}

.modal-stock-subtitle {
	margin-bottom: 0;
	font-size: 25px;
}

#stockModal .modal-footer {
	border-top: 0;
	padding: 0 25px 15px;
}

.stock-modal-button {
	background-color: $color1;
	color: $color3;
	border: 1px solid $color1;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

.stock-modal-button:hover {
	border: 1px solid $color1;
	background-color: $color3;
	color: $color1;
	transition: 0.5s ease;
}

#purchaseModal .modal-dialog {
	max-width: 800px;
}

#purchaseModal .modal-header {
	padding: 15px 20px 0;
	border-bottom: 0;
}

#purchaseModalLabel {
	font-size: 22px;
}

#purchaseModal .modal-body {
	min-height: calc(100vh - 320px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.faby-purchase-modal-global-container {
	width: 100%;
}

.faby-purchse-title {
	margin-bottom: 0;
	padding-bottom: 15px;
	font-size: 25px;
}

#purchaseModal #email_user {
	width: 100%;
	max-width: 500px;
	border: 1px solid $color1;
	border-radius: 5px;
}

#purchaseModal .modal-footer {
	padding: 0 20px 15px;
	border-top: 0;
}

.purchase-modal-button {
	background-color: $color1;
	color: $color3;
	border: 1px solid $color1;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

.purchase-modal-button:hover {
	border: 1px solid $color1;
	background-color: $color3;
	color: $color1;
	transition: 0.5s ease;
}

#successModal .modal-dialog {
	max-width: 800px;
}

#successModal .modal-header {
	padding: 15px 20px 0;
	border-bottom: 0;
}

#successModal .modal-dialog {
	max-width: 800px;
}

#successModal .modal-body {
	min-height: calc(100vh - 320px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.faby-success-title {
	margin-bottom: 0;
	font-size: 25px;
	padding-bottom: 5px;
}

.faby-success-subtitle {
	margin-bottom: 0;
	font-size: 25px;
}

#successModal .modal-footer {
	padding: 0 20px 15px;
	border-top: 0;
}

.success-modal-button {
	background-color: $color1;
	color: $color3;
	border: 1px solid $color1;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

.success-modal-button:hover {
	background-color: $color3;
	border: 1px solid $color1;
	color: $color1;
	transition: 0.5s ease;
}

footer {
	width: 100%;
	background-color: $color1 !important;
	padding: 15px 50px 0;
	color: $color3;
}

.faby-footer-container-one {
	padding-bottom: 20px;
}

.faby-footer-container-two {
	padding-bottom: 10px;
}

.faby-footer-menu-link-title {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 10px;
}

.faby-footer-menu-link {
	text-decoration: none !important;
	color: $color3;
	transition: 0.3s ease;
	cursor: pointer;
}

.faby-footer-menu-link:hover {
	color: $colorHover;
	transition: 0.3s ease;
}

.faby-footer-menu-link p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 200;
	padding-bottom: 5px;
}

.faby-footer-img-title-container {
	display: flex;
	align-items: center;
}

.faby-footer-menu-info-title {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 10px;
}

.faby-footer-menu-info {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 200;
	padding-bottom: 5px;
}

.faby-footer-img-container {
	width: 100%;
	max-width: 70px;
}

.faby-footer-logo {
	width: 100%;
}

.faby-footer-title {
	margin-bottom: 0;
	padding-left: 10px;
}

.faby-footer-text-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.faby-footer-subtitle {
	margin-bottom: 0;
}

.rrss-container {
	width: 100%;
	max-width: 100px;
	display: flex;
	justify-content: space-between;
}

.faby-footer-rrss-link {
	color: $color3;
	transition: 0.3s ease;
}

.faby-footer-rrss-link:hover {
	color: $colorHover;
	transition: 0.3s ease;
}
