/** @format */
/** @format */
.faby-header-container {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  align-items: center;
}

.faby-logo-container {
  width: 100%;
  max-width: 140px;
  padding: 10px;
}

.faby-main-logo {
  width: 100%;
}

.faby-main-menu {
  display: flex;
  margin-bottom: 0;
}

.faby-main-menu-container {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  padding-right: 30px;
  align-items: center;
}

.faby-menu-link {
  text-decoration: none !important;
  color: #ffffff;
  transition: 0.3s ease;
  font-size: 16px;
}

.faby-menu-link:hover {
  color: #b7b8b6;
  transition: 0.3s ease;
}

.faby-cart-btn {
  border: transparent;
  background-color: transparent;
  padding: 0;
}

.faby-cart-btn:hover {
  color: #b7b8b6;
  transition: 0.3s ease;
  border: transparent;
  background-color: transparent;
}

.faby-main-cart-icon {
  font-size: 15px;
  margin-right: 7px;
}

.faby-about-us-container {
  width: 100%;
  max-width: 950px;
  margin: auto;
  padding: 30px 0;
  text-align: center;
}

.faby-shop-container {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.faby-shop-img {
  border-radius: 60px 6px 60px 6px;
  transition: 0.5s ease;
}

.faby-shop-img:hover {
  border-radius: 6px 60px 6px 60px;
  transition: 0.5s ease;
}

.size-modal-global-container .modal-content {
  border-radius: 20px;
  padding: 5px;
}

.size-modal-global-container .modal-header {
  border-bottom: 0;
  padding: 15px 20px 0;
}

.size-modal-global-container .modal-body {
  cursor: pointer;
  padding: 20px 20px 0;
}

.size-modal-global-container .modal-footer {
  padding: 5px 20px 20px;
  border-top: 0;
}

.shop-btn-container {
  text-align: center;
  margin: 25px 0 35px;
}

.shop-btn {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  background-color: #000000;
  transition: 0.5s ease;
  padding: 10px;
  border: 1px solid #000000;
  text-decoration: none !important;
  border-radius: 5px;
}

.shop-btn:hover {
  color: #000000;
  background-color: #ffffff;
  transition: 0.5s ease;
}

.faby-shop-global-container {
  min-height: calc(100vh - 130px);
}

.faby-shop-main-title {
  margin-bottom: 0;
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
}

.faby-shop-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 150px);
}

.faby-shop-main-subtitle {
  font-size: 50px;
}

#productMainList {
  margin: 10px 20px;
}

.item-product-list-global-container {
  width: 100%;
}

.item-product-list-global-container li::marker {
  display: none !important;
}

.item-product-list {
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 15px 0;
  background-color: #fbfbfb;
}

.item-product-list-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

footer {
  width: 100%;
  background-color: #000000 !important;
  padding: 15px 50px 0;
  color: #ffffff;
}

.faby-footer-container-one {
  padding-bottom: 20px;
}

.faby-footer-container-two {
  padding-bottom: 10px;
}

.faby-footer-menu-link-title {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}

.faby-footer-menu-link {
  text-decoration: none !important;
  color: #ffffff;
  transition: 0.3s ease;
  cursor: pointer;
}

.faby-footer-menu-link:hover {
  color: #b7b8b6;
  transition: 0.3s ease;
}

.faby-footer-menu-link p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 5px;
}

.faby-footer-img-title-container {
  display: flex;
  align-items: center;
}

.faby-footer-menu-info-title {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}

.faby-footer-menu-info {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 5px;
}

.faby-footer-img-container {
  width: 100%;
  max-width: 70px;
}

.faby-footer-logo {
  width: 100%;
}

.faby-footer-title {
  margin-bottom: 0;
  padding-left: 10px;
}

.faby-footer-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faby-footer-subtitle {
  margin-bottom: 0;
}

.rrss-container {
  width: 100%;
  max-width: 100px;
  display: flex;
  justify-content: space-between;
}

.faby-footer-rrss-link {
  color: #ffffff;
  transition: 0.3s ease;
}

.faby-footer-rrss-link:hover {
  color: #b7b8b6;
  transition: 0.3s ease;
}

/*# sourceMappingURL=output.css.map */
